* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #D1D2D3;
  background-color: #1B1D21;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}