.app-container {
  max-width: 160rem;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.feed-container {
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: scroll;
  position: relative;
}

.input-container {
  background-color: #232529;
  padding: 1rem;
  border: 1px solid #5A5C5A;
  border-radius: 6px;
  
  display: flex;
  gap: 1rem;

  position: absolute;
  width: 97%;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
}

.input-box {
  width: 100%;
  background-color: inherit;
  color: inherit;
  outline: none;
  border: none;
}

.btn--send {
  background-color: #007A5A;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: .5rem 1rem;
}

.thread-container {
  border-left: solid 2px #5A5C5A;
  display: grid;
  justify-content: center;
  align-items: center;
}

.post-list {
  list-style: none;
}