.post-outer-box {
  /* padding: 2.0rem 0 2.5rem 0; */
  padding: 1.0rem 0 1.5rem 0;

  /* border-top: solid 0.5px #5A5C5A; */
}

.post {
  padding: .5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post:hover {
  background-color: #232529;
}

.post.pinned {
  background-color: #302E26;
}

.post-content {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  column-gap: 1rem;
}

.user-icon {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 4px;
  grid-column: 1;
  grid-row: 1 / -1;
}

.user-name {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.2;
}

.post-text {
  font-size: 1.4rem;
  line-height: 1.6;
}

.btn--delete {
  background-color: #E01D5A;
  color: #fff;
  padding: .5rem 1rem;
  border: none;
  border-radius: 4px;
  opacity: 0;
}

.btn--delete:hover {
  opacity: 1;
}